*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    background-color: #1d3344;
}
header{
    color: #1d3344;
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3344;
}

main{
    padding: 6rem 3rem 2rem 3rem;
    color: rgb(212, 209, 209);
}

.section-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section-one > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}

.section-one > div:nth-child(2) h2{
    margin-bottom: 0.8rem;
    font-size: 2.5rem;
    text-align: start;

}

.section-one > div:nth-child(2) p{
    font-size: 1.3rem;
    line-height: 1.5;
}


.section-two{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.section-two div{
    flex-basis: 45%;
}

.section-two > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-two h4{
    margin: 1rem 0rem;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: start;
    text-decoration: underline;
}

.section-two > div:nth-child(1) ol li{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 2rem;
}

.section-two > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-two > div:nth-child(2) a{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(212, 209, 209);
}



footer{
    padding: 2rem 1.5rem;
    margin-top: 1.1rem;
    color: rgb(212, 209, 209);
    text-align: center;
    background-color: #222832;
}

@media screen and (max-width:768px) {
    .section-one{
        align-items: start;
        flex-direction: column;
    }

    .section-one > div:nth-child(2){
        margin-top: 1rem;
    }
    .section-two{
        align-items: start;
        flex-direction: column;
    }

    .section-two > div:nth-child(2){
        margin-top: 2rem;
    }

}

@media screen and (max-width:640px) {
    main{
        padding: 5rem 2rem 2rem 2rem;
    }
    .section-one > div:nth-child(2) h2{
        font-size: 2rem;
    }

}

@media screen and (max-width:425px) {
    main{
        padding: 5rem 1.3rem 2rem 1.3rem;
        color: rgb(212, 209, 209);
    }

    .section-one > div:nth-child(2) h2{
        margin: 1.2rem 0rem;
        font-size: 1.4rem;
    }

    .section-two h4{
        font-size: 1.3rem;
    }

    footer{
        padding: 2rem 1.5rem 1rem 1.5rem;
    }
}